.button {
  --bg: #e74c3c;
  margin-top: 10%;
  --text-color: #fff;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  font-size: medium;
  padding: 1.5em 5em; /* Ajusta el padding para aumentar el tamaño del botón */
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

button:hover {
  opacity: 1;
}

button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
